!!!
%html{ :lang => "en", "xml:lang" => "en", :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=utf-8" }
    - if @description
      %meta{ "name" => "description", "content" => @description }
    - if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
    %title= @title
    %script{ :type => 'text/javascript', :src => '/js/jquery-1.4.2.min.js' }
    %script{ :type => 'text/javascript', :src => "/js/jquery.fancybox-1.3.1.js" }
    %script{ :type => 'text/javascript', :src => "/js/jquery-placeholder.js" }
    %script{ :type => 'text/javascript', :src => '/js/application.js' }
    %link{ :href => "#{@stylesheet}", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
    %link{ :href =>  "/stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/stylesheets/jquery.fancybox-1.3.1.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    /[if lt IE 8]
      %link{ :href => "/stylesheets/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css" }
    %meta{ "name" =>"google-site-verification", "content" => "Onu5yEV5EFyK4e7cHetwqUqaBUVYsUOIAjNUxNWUHtw" }
  
  %body{ :class => @body_class }
    #article
      #article-header
        #article-header-wrapper
          %a{ :href => "/exposures" }
            %img{ :src => "/img/exposures_logo_blue.png", :alt => "exposures - by EPICthrills", :id => "logo-image"}
          .article-nav-bar
            %a{ :href => "/"} GO TO EPICThrills.com
            - if @page && @page.newer
              %a{ :href => "#{url_for(@page.newer)}" } << PREVIOUS
            %a{ :href => "/exposures" } HOME
            - if @page && @page.older
              %a{ :href => "#{url_for(@page.older)}" } NEXT >>
            #follow-us-top
              %span.follow-text + FOLLOW US:
              %a{ :href => "http://twitter.com/epicthrills"}
                %img{ :src => "/twitter.png", :alt => "Twitter" }
              %a{ :href => "http://facebook.com" }
                %img{ :src => "/facebook.png", :alt => "Facebook" }
              %a{ :href => "/articles.xml" }
                %img{ :src => "/rss.png", :alt => "RSS" }

      #article-content
        = yield
      #article-footer-nav
        #footer-nav-wrapper
          .article-nav-bar
            %a{ :href => "/"} GO TO EPICThrills.com
            - if @page && @page.newer
              %a{ :href => "#{url_for(@page.newer)}" } < NEWER
            %a{ :href => "/exposures" } HOME
            - if @page && @page.older
              %a{ :href => "#{url_for(@page.older)}" } OLDER >
      #pre-register
        #pre-register-wrapper
          %img{ :src => "/img/logo.png", :alt => "EPICthrills"}
          #pre-reg-sub-title Modern Adventure Trips.  Elite Experiences.  Members-Only.
          #pre-reg-text Pre-register to receive exclusive prices on adventure trips and activities.
          %input#email{ :type => 'text',
                :name => 'email_address',
                :placeholder => 'Email address',
                :size => 25 }
          %input#pre_reg_button{:name => "commit", :type => "submit", :value => "Pre-Register"}
          %a#pre_register_link.hidden{:href => "#register_form_container"} Pre-Register
      #article-footer
        #article-footer-wrapper
          #footer-logo
            %a{ :href => "/"}
              %img{ :src => "/img/logo_white.png", :alt => "EPICthrills"}
          #follow-us-bottom
            %span.follow-text + FOLLOW US:
            %a{ :href => "http://twitter.com/epicthrills"}
              %img{ :src => "/twitter.png", :alt => "Twitter" }
            %a{ :href => "http://facebook.com" }
              %img{ :src => "/facebook.png", :alt => "Facebook" }
          #footer-nav
            %a{ :href=> "/" } HOME
            %a{ :href=> "/exposures" } EXPOSURES
            %a{ :href=> "http://epicthrills.tumblr.com" } BLOG
            %a{ :href=> "/about" } ABOUT
            %a{ :href=> "/contact" } CONTACT US
        #copyright Copyright © 2010 EPICThrills.com All Rights Reserved   
.hidden
  #register_form_container
    %span.logo_container
      %img{:src => "/img/logo_white.png"}
    %span
      %p.title.left Welcome
      %p.left
        Ready to get hooked up with the sickest adventure |
        trips around? Look out for a confirmation email in your inbox and we'll let you |
        know when we launch our first sales!
      %p.left
        Until then, take a gander at our adventure publication,
        %a{ :href => '/exposures' } <b>EXPOSURES Magazine</b>.  
        We scour the globe finding the hottest adventure shiz around.  Trust us.
        %a{ :href=> '/exposures'} Check It Out.

      %p.title.left Invite Others
      %p.left
        Tackling big mountain backcountry and chasing trade winds is always better with a travel buddy.  Don't be greedy, spread the word!
    #share-via-wrapper-popup
      #share-via-popup
        %a{ :href => "http://twitter.com/epicthrills"}
          %img{ :src => "/twitter.png", :alt => "Twitter" }
          Twitter
        %a{ :href => "http://facebook.com" }
          %img{ :src => "/facebook.png", :alt => "Facebook" }
          Facebook
        %a{ :href => "" }
          %img{ :src => "/email.png", :alt => "Email" }
          Email
/[if IE]
  %a{ :href => "javascript:;", :onclick => "$.fancybox.close();", :id => 'close_link'} [X] Close
